body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#submitButton {
    background-color: #800000;
    color: white;
}

#recentSongsPage .img-fluid{
    max-width: 100%;
    height: auto;
    width: auto;
}